@page "/diagnosticos"

@using Api.Gateway.Proxies
@using Api.Gateway.Models
@using Api.Gateway.Models.Diagnosticos.DTOs
@inject IDiagnosticosProxy diagnosticosProxy

<h1>Diagnósticos</h1>

<p>Aquí se muestran los diagnósticos registrados.</p>

@if (!diagnosticos.HasItems)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Empleado</th>
                <th>Paciente</th>
                <th>Enfermedad</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var diagnostico in diagnosticos.Items)
            {
                <tr>
                    <td>@diagnostico.Empleado_Id</td>
                    <td>@diagnostico.Paciente_Id</td>
                    <td>@diagnostico.Enfermedad</td>
                    <td>@diagnostico.Fecha</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private DataCollection<DiagnosticoDto> diagnosticos;

    protected override async Task OnInitializedAsync()
    {
        diagnosticos = await diagnosticosProxy.GetAllAsync(1, 10);
    }
}
